*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

::selection {
  background-color: #000;
}

:root {
  margin: 0;
}

.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "interstate", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--key-color);
  width: 100vw;
  overflow-x: hidden;
  @supports (scrollbar-gutter: stable) {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

html, body {
  background: white;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "interstate","Zen Maru Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  background: url("/dot_bg.svg") repeat;
  width: 100vw;
  transition: opacity 1s var(--ease-quint-out);
}


/* The default transition for non-fragment visits */
// .is-changing .transition-main {
//   transition-property: opacity, transform;
//   transition-duration: 400ms;
// }

html.is-animating .transition-main {
  opacity: 0;
}

html.is-leaving .transition-main {
  opacity: 0;
}

#swup {
}

